flow.json
[
    {
        "id": "1eb3b998484afdb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfbbf398d4b7a905",
        "type": "inject",
        "z": "1eb3b998484afdb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "5e50adc97da1dc21",
                "3fd9ed98bae4f190",
                "f4c8628a905f2bef",
                "124c2646045dc98d"
            ]
        ]
    },
    {
        "id": "5e50adc97da1dc21",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "3fd9ed98bae4f190",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "f4c8628a905f2bef",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "124c2646045dc98d",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd3701578dfdcabc",
        "type": "influxdb in",
        "z": "1eb3b998484afdb2",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 270,
        "y": 320,
        "wires": [
            []
        ]
    }
]