flow.json
[
    {
        "id": "1eb3b998484afdb2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2416549b999b3411",
        "type": "mqtt-broker",
        "name": "mosquitto.doesliverpool",
        "broker": "10.0.100.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dfbbf398d4b7a905",
        "type": "inject",
        "z": "1eb3b998484afdb2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "5e50adc97da1dc21",
                "3fd9ed98bae4f190",
                "f4c8628a905f2bef",
                "124c2646045dc98d"
            ]
        ]
    },
    {
        "id": "5e50adc97da1dc21",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "3fd9ed98bae4f190",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "f4c8628a905f2bef",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "124c2646045dc98d",
        "type": "debug",
        "z": "1eb3b998484afdb2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "c473abf39b500d02",
        "type": "mqtt in",
        "z": "1eb3b998484afdb2",
        "name": "",
        "topic": "esp8266/75D1F3/message",
        "qos": "2",
        "datatype": "auto",
        "broker": "2416549b999b3411",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "124c2646045dc98d"
            ]
        ]
    }
]